<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/shop">Accueil du Shop de vélos</a>
  </body>
</html>



<html>
    <head>
    </head>
    <body>

    </body>
</html>
