body {
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
}

.main {
  width: 1250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background-color: #353a3f;
  height: 50px;
  text-align: left;
  color: white;
}

.banner {
  background-image: url(./assets/bike-background.jpg);
  background-size: cover;
  height: 150px;
  margin-bottom: 15px;
}

.card h5 {
  /* font-size: 1.25em; */
}

.card-body {
  /* padding: 0px; */
}

.row {
  /* margin: 20px 0px; */
  justify-content: center;
}


.nav-basket {
  margin-bottom: 20px;
}


.trash {
  width: 16px;
}

.bike {
  width: 200px;
}
